.checked-off {
  text-decoration: line-through;
}

#grocery-checkmark {
  color: #21ba45;
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 30px;
}

#grocery-checkmark-checked {
  color: #21ba45;
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.icon-div {
  position: relative;
}

.icon-div:hover #grocery-checkmark {
  display: none;
}

.icon-div:hover #grocery-checkmark-checked {
  display: block;
  position: relative;
}

#grocery-form-for {
  color: #4a90be;
}
