.navbar {
  margin: 20px;
  margin-top: 10px;
}

.navbar-image {
  margin-bottom: 20px;
  height: 100vh;
  background-image: url(../img/navbar.png);
  background-size: cover;
  background-position: left;
  /* background-position: bottom; */
  /* background-image: linear-gradient(
      to bottom,
      rgba(3, 82, 41, 0.8),
      rgba(45, 46, 51, 0.5)
    ),
    url(../img/lemons.jpg); */
}

.navbar-filler {
  height: 10px;
}

/* .navbar-filler-2 {
  height: 70px;
} */
