.profile-card {
  padding: 30px !important;
}

.profile-info {
  padding-left: 50px !important;
  padding-top: 50px !important;
}

.profile-data {
  color: #21ba45;
}

.profile-data-list-item {
  margin-left: 20px !important;
}

.profile-avatar-container {
  position: relative;
  width: 320px;
  height: 320px;
}

.profile-avatar-plate {
  background-image: url(../img/plate.png);
  background-size: cover;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.profile-avatar {
  width: 175px !important;
  position: absolute;
  top: 72px;
  left: 71px;
  z-index: 1;
}
