.profile-card {
  padding: 50px !important;
}

/* .profile-avatar {
  padding-right: 25px !important;
} */

.profile-info {
  padding-left: 50px !important;
}

.profile-data {
  color: #21ba45;
}

.profile-data-list-item {
  margin-left: 20px !important;
}
