html {
  font-size: 15px !important;
}

body {
  font-size: 15px !important;
}

h1 {
  color: #21ba45;
}

.cont {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  /* position: absolute;
  top: 24%;
  left: 10%; */
}

.list-block {
  margin-left: 20px;
}

.mt-35 {
  margin-top: 35px;
}
