html {
  font-size: 15px !important;
}

body {
  font-size: 15px !important;
}

h1 {
  color: #21ba45;
}

.body-content {
  position: relative;
  min-height: 100vh;
}

.main-content {
  min-height: 100%;
  padding-bottom: 270px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px;
}

.cont {
  margin-bottom: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.list-block {
  margin-left: 20px;
}
