#dish-image-card {
  width: 80%;
  margin: auto;
}

#dish-image {
  object-fit: cover;
}

#dish-divider-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

#dish-buttons-message {
  padding: 0;
  font-size: 18px;
}

#grid {
  margin: auto;
}

.dish-button {
  padding-top: 19px !important;
  padding-bottom: 18px !important;
  /* font-size: 18px !important; */
}

div.ui.bulleted.list {
  margin-left: 0;
}

div.item.list-block {
  /* font-size: 16px; */
  margin-top: 5px;
  margin-left: 0;
  line-height: 1.5 !important;
}
