.h3-meal {
  margin-top: 10px;
  padding-bottom: 3px;
}

.meal-fields {
  margin-top: 24px !important;
}

#plus-btn {
  padding: 10px;
}

.form-checkbox {
  margin-right: 20px;
}

#newdishform-card {
  background-image: url(../../img/add-dish.png) !important;
  /* background-size: cover; */
  background-position: right top;
  background-repeat: no-repeat;
}
